<form action="" method="post">
       
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="ngUsername" type="text" placeholder="Login" name="uname" required>
        </mat-form-field>
        &nbsp;

        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="ngPassword" type="password" placeholder="Mot de passe" name="psw" required>
          </mat-form-field>
          &nbsp;
        <label>
            <input type="checkbox" checked="checked" name="remember"> Se souvenir de moi
        </label>
   
    &nbsp;

    <button mat-raised-button
    color="primary"
    (click)="Login()">
    Se connecter
    </button>
    &nbsp;

    <div class="container" style="background-color:#f1f1f1">
        <span class="psw"> Vous avez oublié votre <a href="#">mot de passe ?</a></span>
    </div>

</form>