.rendu {
  color:green;
}

.nonRendu {
  color:red;
  background-color: yellow;
  border : 3px dashed purple;
}

.important {
   font-size: 40px;
 }

 .container {
   display:flex;
   flex-direction: column;
 
 }

 .ajouterBtn {
   margin-left: 90%;
 }

 .slider {
   width: 35%;
   margin-left: 70%;
 }

 .pagination {
   width:500px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
