<main class="container">

  <button mat-flat-button color="warn" class="logout" (click)="logout()">
    Se déconnecter
  </button>

  <h2>Liste des assignments</h2>

  <div class="slider">
    Nombre assignments par page :
      <input type=range min=2 max=100 value=10 [(ngModel)]="limit" (change)="getAssignments()">  {{limit}}
    </div>
    &nbsp;
    <div class="ajouterBtn">
      <a routerLink="/add">
        <button mat-flat-button color="accent">
          Ajouter +
        </button>
      </a>
    </div>
 
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Recherche</mat-label>
      <input matInput type="text" [(ngModel)]="s" (keypress)="search($event)" placeholder="Trouver un assignment">
      <button *ngIf="s" matSuffix mat-icon-button aria-label="Clear" (click)="s=''; search($event)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Filtre</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="choice" (selectionChange)="filter()">
        <mat-option *ngFor="let choice of choices" [value]="choice.value">
          {{choice.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <table mat-table class="mat-elevation-z8">   
      <tr mat-header-row >
        <th mat-header-cell> Nom </th>
        <th mat-header-cell mat-sort-header> Date du rendu </th>
      </tr>
      <tr mat-row *ngFor="let assignment of assignments">
        <td mat-cell><a routerLink="/assignment/{{assignment.id}}"> {{assignment.nom}} </a></td>
        <td mat-cell>
          <p *ngIf="assignment.rendu; else nonsoumis" appRendu>
            {{assignment.dateDeRendu | date}}
          </p>
          <ng-template #nonsoumis>
            <p>Non rendu</p>
          </ng-template>
          <mat-divider></mat-divider> </td>
        </tr>
  </table>
  &nbsp;
<div class="pagination">
  <button mat-stroked-button color="primary"
          (click)="premierePage()"
          [disabled]="page===1"
  >| <</button>

  <button mat-stroked-button color="primary"
          (click)="pagePrecedente()"
          [disabled]="!hasPrevPage"
  ><</button>

  <button mat-stroked-button color="primary"
          (click)="pageSuivante()"
          [disabled]="!hasNextPage"
          >></button>

  <button mat-stroked-button color="primary"
          (click)="dernierePage()"
          [disabled]="page===totalPages"
  >> |</button>
  &nbsp;
</div>
</main>
